<div class="search">
  <div class="row">
    <div class="text-center">
      
      <%= form_tag(new_movie_path, method: :get, class: 'form-inline') do %>
      
         <div class="form-group",class="col-sm-offset-2 col-sm-8">
           <%= text_field_tag :keyword, @keyword, class: 'form-control', placeholder: "キーワードを入力", size: 40 %>
         </div>
         
         <%= submit_tag '検索', class: 'btn btn-success btn-lg' %>
         
      <% end %>
      
    </div>
  </div>
</div>

<%= render 'movies', movies: @movies %>