<% content_for :cover do %>
  
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <% unless logged_in? %>
      
          <%= link_to 'ムービーリストを始める', signup_path, class: 'btn btn-success btn-lg' %>
          
        <% end %>
      </div>
    </div>
  </div>
  
<% end %>

<P>test</P>