/* search */
.search {
  margin-bottom: 20px;
}

/* movie */
.movie .panel-body {
  height: 70px;
}
.movie .panel-heading {
  height: 250px;
}
.movie .panel-heading img {
  height: 100%;
  max-width: 100%;
}
